<!DOCTYPE html>

<html lang="en">
<% include ../common/head.ejs %>

<body>
  <% include ../common/sideBar.ejs %>
  <header id="header">
    <% include ../common/navBar.ejs %>
  </header>

  <div id="content-wrapper ">
    <div class="mui--appbar-height"></div>
    <div class="mui-container" style="margin-left:15%">

      <h2>Search Products</h2>
      <div class="mui-textfield mui-textfield--float-label">
        <input id="myInput" type="text" />
        <label>Search..</label>
      </div>
      <br />
      <button class="mui-btn mui-btn--raised mui-btn--primary" id="btnInitialStock">
        Initialize stock
      </button>
      <div style="height:390px;overflow-y:auto;overflow-x:auto;margin-top: 1%; margin-bottom: 2% ">

        <table id="customers" class="table-bordered table-sm table table-striped" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Products</th>
              <th>Quantity</th>
              <th>Buying Price</th>
              <th>Selling Price</th>
              <th>Add Quantity</th>
              <th>Add</th>
            </tr>
          </thead>
          <tbody id="myTable" style="height: 260px; overflow-y: auto;">
            <% stocks.forEach(function (stock) { %>
            <form method="POST" action="/stock/<%= stock.id %>">
              <tr>
                <td><%= stock.get('product').get('name') %></td>
                <td><%= stock.get('quantity') %></td>
                <td><%= stock.get('buyingPrice') %></td>
                <td><%= stock.get('sellingPrice') %></td>

                <td>
                  <div class="mui-textfield">
                    <input type="number" step="0.01" min="0.01" required name="addedQuantity" />
                  </div>
                </td>
                <td>
                  <button class="mui-btn mui-btn--raised mui-btn--primary" type="submit">
                    Add to stock
                  </button>
                </td>
              </tr>
            </form>
            <% }); %>
          </tbody>
        </table>


        <footer style="margin-top: 20px;">
          <% if (pages > 0) { %>
          <div class="footer">
            <ul class="pagination text-center">

              <% if (currentPage == 0) { %>
              <li class="disabled"><a>First</a></li>
              <% } else { %>
              <li><a href="/stock/view_stock?page=0">First</a></li>
              <% } %>


              <% for(var i=1; i < lastPage-1; i++) {%>
              <% if(i == currentPage){ %>
              <li class="disabled"><a href="/stock/view_stock?page=<%= i %>"> <%= i %> </a></li>
              <% }else{ %>
              <li><a href="/stock/view_stock?page=<%= i %>"> <%= i %> </a></li>
              <% }} %>

              <% if (currentPage == pages-1) { %>
              <li class="disabled"><a>Last</a></li>
              <% } else { %>
              <li><a href="/stock/view_stock?page=<%= pages-1 %>">Last</a></li>
              <% } %>

            </ul>
          </div>
          <% } %>
        </footer>
      </div>
    </div>
  </div>


  <% include ../common/footer.ejs %>
  <script>
    $(document).ready(function () {
      $("#myInput").on("keyup", function () {
        var value = $(this)
          .val()
          .toLowerCase();
        $("#myTable tr").filter(function () {
          $(this).toggle(
            $(this)
              .text()
              .toLowerCase()
              .indexOf(value) > -1
          );
        });
      });
    });
    document.getElementById("btnInitialStock").onclick = function () {
      location.href = "/stock/add_stock";
    };
    document.getElementById("btnAdd").addEventListener("click", function (e) {
      const sid = e.target.getAttribute("data-sid");
      console.log(sid);
    });
  </script>
</body>

</html>