<!DOCTYPE html>

<html lang="en">
<% include ../common/head.ejs %>

<body>
    <% include ../common/sideBar.ejs %>
    <header id="header">
        <% include ../common/navBar.ejs %>
    </header>

    <div id="content-wrapper " style="overflow: hidden">
        <div class="mui--appbar-height"></div>
        <div class="mui-container">
            <div class="top-panel1" style="margin-left: 10%;">
                <h2>Search Customers</h2>
                <div class="mui-textfield mui-textfield--float-label">
                    <input id="myInput" type="text">
                    <label>Search..</label>
                </div>
                <br>

                <div class="panel1">
                    <div>
                        <table id="customers" class="table-bordered table-sm table table-striped" cellspacing="0"
                            width="100%">
                            <thead>
                                <tr>
                                    <th class="wider">Comapny</th>
                                    <th>Balance</th>
                                </tr>
                            </thead>
                            <tbody id="myTable" style="height: 350px; overflow-y: auto;">
                                <% products.forEach(function (product) { %>
                                <tr>
                                    <td class="wider"><%= product.get('customer').get('name') %></td>
                                    <td><%= product.get('balance') %></td>
                                </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <footer style="margin-top: 20px;">
                    <% if (pages > 0) { %>
                    <div class="footer">
                        <ul class="pagination text-center">

                            <% if (currentPage == 0) { %>
                            <li class="disabled"><a>First</a></li>
                            <% } else { %>
                            <li><a href="/customer/customerAccounts?page=0">First</a></li>
                            <% } %>


                            <% for(var i=1; i < lastPage-1; i++) {%>
                            <% if(i == currentPage){ %>
                            <li class="disabled"><a href="/customer/customerAccounts?page=<%= i %>"> <%= i %> </a></li>
                            <% }else{ %>
                            <li><a href="/customer/customerAccounts?page=<%= i %>"> <%= i %> </a></li>
                            <% }} %>

                            <% if (currentPage == pages-1) { %>
                            <li class="disabled"><a>Last</a></li>
                            <% } else { %>
                            <li><a href="/customer/customerAccounts?page=<%= pages-1 %>">Last</a></li>
                            <% } %>

                        </ul>
                    </div>
                    <% } %>
                </footer>
            </div>
        </div>

    </div>



    <% include ../common/footer.ejs %>

</body>

</html>