<!doctype html>

<html lang="en">

<head>
  <% include ../partials/head.ejs %>
</head>

<body>

  <div class="container-fluid">

    <!--== Navigation Bar Start  ==-->
    <% include ../partials/navbar.ejs %>
    <!-- == Main body starts here == -->
    <% include ../partials/sideBar.ejs %>

    <div class="container mt-3" style="margin-left: 260px; width: 80%;">
      <h2>Customers</h2>
      <input class="form-control" id="myInput" type="text" placeholder="Search..">
      <br>
      <table id="customers">
        <thead>
          <tr>
            <th>Comapny Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Contact Person</th>
            <th>Contact</th>
          </tr>
        </thead>
        <tbody id="myTable">
          <% products.forEach(function (product) { %>
          <tr>
            <td><%= product.get('name') %></td>
            <td><%= product.get('address') %></td>
            <td><%= product.get('email') %></td>
            <td><%= product.get('contact_person') %></td>
            <td><%= product.get('contact_no') %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>


    </div>


  </div>
  <!-- ## All Script files ## -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function () {
      $("#myInput").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  </script>
</body>

</html>